{% extends 'base.html.twig' %}
{% block head_scripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 align="center">Datavisualisation</h1>
    
    <div class="container">
        
    </div>
    <div class="container_new">
    </div>
    <ul>
        <li><a class="see" data-title="monde" href="#">Monde</a></li>
        <li><a class="see" data-title="france" href="#">France</a></li>
        <li><a class="see" data-title="espagne" href="#">Espagne</a></li>
        <li><a class="see" data-title="langues" href="#">Langues</a></li>
    </ul>
    <br><br>
    <a href="{{ path('benzema') }}">Pique Benzema à 14h00</a>
{% endblock %}

{% block javascripts %}
    <!--<script src="http://d3js.org/d3.v3.min.js"></script> -->

<script>
$(document).ready(function($) {
    
$('.see').click(function(event) {
    var title = $(this).attr('data-title');
    var content = $(this).text();
    getGraph(title,content);
});

function getGraph(title,content)
{
    console.log(title);
    // set the dimensions of the canvas
    var margin = {top: 20, right: 20, bottom: 70, left: 40},
        width = 600 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;


    // set the ranges
    var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

    var y = d3.scale.linear().range([height, 0]);

    // define the axis
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")


    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    $('.container').html("");
    $('.container').append('<h2>'+ content +'</h2>');
    // add the SVG element
    var svg = d3.select(".container").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");
    var myJson = "";
    if (title == "monde") {
        myJson = "/json/world_player.json";
    }
    else if(title == "france") {
        myJson = "/json/french_player.json";
    }
    else if(title == "espagne") {
        myJson = "/json/spain_player.json";
    }
    else if(title == "langues") {
        myJson = "/json/tweets_languages.json";
    }

    // load the data
    d3.json(myJson, function(error, data) {
       
        data.forEach(function(d) {
            d._id = d._id;
            d.total = +d.total;
        });
        
      // scale the range of the data
      x.domain(data.map(function(d) { return d._id; }));
      y.domain([0, d3.max(data, function(d) { return d.total; })]);

      // add axis
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
        .selectAll("text")
          .style("text-anchor", "end")
          .attr("dx", "-.8em")
          .attr("dy", "-.55em")
          .attr("transform", "rotate(-90)" );

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 5)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("");


      // Add bar chart
      svg.selectAll("bar")
          .data(data)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d._id); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.total); })
          .attr("height", function(d) { return height - y(d.total); });

    });
}
createConfig();
function createConfig() {
            return {
                type: 'line',
                data: {
                    labels: ["16/03/17 10h00", "16/03/17 11h00", "16/03/17 12h00", "16/03/17 13h00", "16/03/17 14h00", "16/03/17 15h00", "16/03/17 16h00"],
                    datasets: [{
                        label: "Nombre de tweets",
                        borderColor: window.chartColors.red,
                        backgroundColor: window.chartColors.red,
                        data: [6,8,8,31,91,79,30,34],
                        fill: false,
                    }]
                },
                options: {
                    responsive: true,
                    title:{
                        display: true,
                        text: 'Nombre de tweets #benzema'
                    },
                    tooltips: {
                        position: 'nearest',
                        mode: 'index',
                        intersect: false,
                        yPadding: 10,
                        xPadding: 10,
                        caretSize: 8,
                        backgroundColor: 'rgba(72, 241, 12, 1)',
                        titleFontColor: window.chartColors.black,
                        bodyFontColor: window.chartColors.black,
                        borderColor: 'rgba(0,0,0,1)',
                        borderWidth: 4
                    },
                }
            };
        }

        window.onload = function() {
            var container = document.querySelector('.container_new');
            var div = document.createElement('div');
            div.classList.add('chart-container');

            var canvas = document.createElement('canvas');
            div.appendChild(canvas);
            container.appendChild(div);

            var ctx = canvas.getContext('2d');
            var config = createConfig();
            new Chart(ctx, config);
            console.log(config);
        };

}); //endReady
</script>
{% endblock %}